.slds-card {
    background: #E2E6E6;

}

/* .content {
    display: flex;
    flex-wrap: wrap;
}

c-report-finder-list-item {
    min-width: 100px;
}  */

.report-item{
    min-width: 250px;
}

.logo {
    text-align: center;
    color: #cc0000;
}

.page-footer{
    font-weight: normal;
}

img.logo {
    height: 70px;
}