.slds-card {
    background: rgb(243, 242, 242);
}


.content {
    display: flex;
    flex-wrap: wrap;
}

c-report-finder-list-item {
    min-width: 250px;
    flex: 1;
} 

/* c-paginator {
    display: block;
} */


.logo {
    text-align: center;
    color: #cc0000;
}

img.logo {
    height: 70px;
}